################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DS2-1/DS2-1
/DS2-1/.vs/DS2-1/v16
/DS2-1/Debug
